<h1> RazorHelperDemo </h1>

@MyHelpers.NotOlustur("Razor Helper Test 01 .....")
@MyHelpers.NotOlustur("Razor Helper Test 02 .....")
@MyHelpers.NotOlustur("Razor Helper Test 03 .....")
@MyHelpers.NotOlustur("Razor Helper Test 04 .....")
@MyHelpers.NotOlustur("Razor Helper Test 05 .....")
@MyHelpers.NotOlustur("Razor Helper Test 06 .....")


