@{
   
    Page.Title = "Sifre Reset";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];

    bool tokenExpired = false;
    bool isSuccess = false;

    // Setup validation
    Validation.RequireField("newPassword", "Sifre Zorunlu Alan.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("newPassword", "Yeni Sifre Konforme edilemedi."));
    Validation.RequireField("passwordResetToken", "Sifre Resetleme token i gerekli.");
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Sifre en az 6 Karakter olmali"));

    if (IsPost && Validation.IsValid()) {
        AntiForgery.Validate();
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];

        if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {
            isSuccess = true;
        } else {
            ModelState.AddError("passwordResetToken", "Sifre Resetleme token i gecersiz.");
            tokenExpired = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Sifre Resetleme icin Asagidaki formu kullaniniz.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    if (!Validation.IsValid()) {
        <p class="validation-summary-errors">
            @if (tokenExpired) {
                <text>The password reset token is incorrect or may be expired. Visit the <a href="~/Account/ForgotPassword">forgot password page</a> 
                to generate a new one.</text>
            } else {
                <text>Sifre Resetleme Islemi Gerceklestirilemiyor. Hatalari duzeltip tekrar deneyiniz.</text>
            }
        </p>
    }

    if (isSuccess) {
        <p class="message-success">
            Sifre Degistirmek icin! Giris icin <a href="~/Account/Login" title="Log in"> Buraya</a> tiklayiniz.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        <fieldset>
            <legend>Sifre Degisiklik Formu</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>New password</label> 
                    <input type="password" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Confirm password</label> 
                    <input type="password" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) {<text>class="error-label"</text>}>Password reset token</label> 
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" disabled="@isSuccess" @Validation.For("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Sifre Resetle" disabled="@isSuccess"/>
        </fieldset>
    </form>
} else {
    <p class="message-info">
       Bu sitede SMTP ayarlari yapilmadigi icin sifre degistirme islemleri bloke edilmistir.Sistem yoneticisi ile irtibat kurunuz.
    </p>
}
